@model IEnumerable<DataLayer.EntityModels.ApplicationUser>

@{
    ViewData["Title"] = "Mode";
}

<h1>MODERATOR PAGE</h1>


    





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    

  
    

            @foreach (var item in Model) {
   
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Warning" asp-route-id="@item.Id">Warning</a> |
                <a asp-action="LoadConnectionsPosts" asp-route-id="@item.Id">Post View</a> 
                
            </td>
                </tr>
            
            }

    </tbody>
</table>
